                /* GLOBAL */
                /* xoá margin, padding mặc đinh */
                
                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                html,
                body {
                    font-family: 'Montserrat', sans-serif;
                    /* tự quy định: 1rem = 20px (nếu không khai báo thì 1rem = 16px*/
                    font-size: 20px;
                }
                /* HEADER */
                
                header {
                    background-color: #4e2a84;
                }
                
                .header__content ul li {
                    list-style: none;
                    display: inline;
                }
                
                .header__content a {
                    text-decoration: none;
                    color: white;
                }
                
                .header__content p {
                    /* cách xử dụng rem: 1rem = 20px (tự design ở html) */
                    font-size: 2.125rem;
                    color: white;
                }
                /* Kỹ thuật canh giữa content lớn trong body */
                
                .header__content {
                    padding: 20px 0;
                    width: 70%;
                    margin: 0 auto;
                    /* Đem những thằng con lên 1 hàng */
                    display: flex;
                    /* justify-content: Thêm các khoảng cách cho các thẻ con của flex.*/
                    justify-content: space-around;
                    /* align-items canh thẻ con theo chiều dọc */
                    align-items: center;
                }
                /* CAROUSEL  */
                
                .carousel {
                    background-image: url(../images/b3.jpg);
                    height: 800px;
                    background-position: center;
                    background-repeat: no-repeat;
                    /* background-size: cover: Kéo dãn hình để full màn hình */
                    background-size: cover;
                    /* canh giữa con của flex, chỉ áp dụng khi cha của flex chỉ có 1 con (có nhiều con thì có tác dụng các con sẽ lên 1 hàng) */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .carousel__content {
                    color: white;
                    text-align: center;
                }
                /* NUMBER */
                
                .number__content {
                    margin: auto;
                    padding: 70px;
                    width: 70%;
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                }
                
                .number__content h4 {
                    font-size: 1rem;
                    ;
                }
                
                .number__content p:first-child {
                    font-size: 1.6rem;
                    color: #4E2A84
                }
                
                .number__item {
                    width: 25%;
                }
                /* SERVICES */
                
                .services {
                    text-align: center;
                }
                
                .services__content {
                    margin: 0 auto;
                    width: 80%;
                    padding: 70px 0;
                    display: flex;
                    /*Ko thể dùng justify-content (thẻ cha ko còn chỗ trống) ---> chữ quá nhiều và sát lại thì dùng padding để tạo khoảng cách*/
                    justify-content: space-around;
                    text-align: center;
                }
                
                .services__item {
                    padding: 0 15px;
                }
                
                .services__content h3 {
                    font-size: 1.15rem;
                }
                
                .services__content p {
                    font-size: 1rem;
                }
                
                .services__item i {
                    font-size: 2.8rem;
                    color: #4e2a84;
                    width: 100px;
                    height: 100px;
                    /* line-height: khoảng cách giữa các dòng chữ, nếu TH chỉ có 1 dòng duy nhất ---> set bằng chiều cao thì sẽ canh giữa*/
                    line-height: 100px;
                    border: 1px solid #4e2a84;
                    border-radius: 50%;
                    /* transition */
                    transition-property: all;
                    transition-duration: .2s;
                }
                /* sự kiện rê chuột */
                
                .services__item:hover i {
                    color: #FF0E83;
                }
                
                .services__item button {
                    padding: 12px 27px;
                    border-radius: 5px;
                    border: 1px solid white;
                    color: white;
                    background-color: #ff0e83;
                }
                /* sự kiện rê chuột */
                
                .services__item button:hover {
                    background-color: white;
                    color: #FF0E83;
                    border-color: #FF0E83;
                }
                /* INTRO */
                
                .intro {
                    display: grid;
                    /* khai báo số cột, hàng của grid (do bài này chỉ cần khai báo cột) 
                    grid-template-columns: 25% 25% 25% 25%; 
                    grid-template-columns: repeat(4, 25%);*/
                    /* fr: đơn vị phân số khuyến khích dùng với grid */
                    grid-template-columns: repeat(4, 1fr);
                }
                
                .intro__ab1 {
                    /* grid-column: gom cột */
                    /* : Cách 1grid-column: 2 / 4; Cách 2: grid-column: 2 / span 2*/
                    grid-column: 2 / span 2;
                }
                
                .intro__best {
                    grid-column: 1 / span 2;
                }
                
                .intro__ab4 {
                    grid-column: 3 / span 2;
                }
                
                .intro__item img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                
                .intro__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
                
                .intro__item p {
                    font-size: 0.7rem;
                    color: white;
                }
                
                .intro__item h3 {
                    font-size: 1.35rem;
                    color: white;
                }
                
                .intro {
                    background-color: #FF0E83;
                }
                /* GALLERY */
                
                .gallery {
                    text-align: center;
                }
                
                .gallery__content {
                    display: grid;
                    /* khai báo số cột, hàng của grid (do bài này chỉ cần khai báo cột) 
                    grid-template-columns: 25% 25% 25% 25%; 
                    grid-template-columns: repeat(4, 25%);*/
                    /* fr: đơn vị phân số khuyến khích dùng với grid */
                    grid-template-columns: repeat(4, 1fr);
                    /* gap: khoảng cách giữa các imng (table) */
                    gap: 20px;
                    padding: 0 10px;
                }
                
                .gallery__g1 {
                    grid-column: 1 / span 2;
                }
                
                .gallery__g6 {
                    grid-column: 3 / span 2;
                }
                
                .gallery__item img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                /* h2 {
                font-size: 2.5rem;
                } */
                
                .gallery__item {
                    position: relative;
                }
                
                .gallery__overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(48, 132, 163, 0.2);
                    padding: 50px 30px;
                    text-align: right;
                    color: white;
                }
                
                .gallery__overlay p {
                    position: absolute;
                    bottom: 50px;
                    right: 30px;
                    transform: translateY(50px);
                    transition: all .3s;
                    opacity: 0;
                }
                /* THÊM BEFORE, AFTER CHO NỘI DUNG INLINE TẠO HIỆU ỨNG HOVER CHO 1 ĐỐI TƯỢNG */
                /* .gallery__overlay h3::before {
                 content: 'The ';
                } */
                /* .gallery__overlay h3::after {
                content: ' !';
                } */
                
                .gallery__overlay h3::after {
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: white;
                    /* CHUYỂN SANG BLOCK HOẶC INLINE-BLOCK ĐỂ SET KÍCH THƯỚC, VÌ NÓ ĐANG LÀ INLINE */
                    display: block;
                    margin-top: 10px;
                    transform: translateY(50px);
                    transition: all .3s;
                    opacity: 0;
                }
                /* khi chưa rê chuột (hover) */
                
                .gallery__overlay h3 {
                    transform: translateY(50px);
                    transition: all .3s;
                }
                /* đã rê chuột */
                
                .gallery__overlay:hover h3 {
                    transform: translateY(0);
                }
                /* .gallery__overlay h3::after {
                transform: translateY(70px);
                transition: all .3s;
                } */
                
                .gallery__overlay:hover h3::after {
                    transform: translateY(0);
                    opacity: 1;
                }
                
                .gallery__overlay:hover p {
                    transform: translateY(0);
                    opacity: 1;
                }
                /* TEAM */
                
                .team h2 {
                    text-align: center;
                }
                
                .team__content {
                    /* chia cột */
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 25px 30px;
                    width: 70%;
                    margin: auto;
                }
                
                .team__item img {
                    width: 100%;
                    display: block;
                }
                
                .team__item {
                    position: relative;
                }
                /* Chưa rê chuột (ban đầu) */
                
                .team__pink {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: #ff0e83;
                    color: white;
                    padding: 20px;
                    width: 100%;
                    opacity: 1;
                    transition: all .5s;
                }
                
                .team__black {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: white;
                    padding: 20px;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: all .5s;
                }
                
                .team__item2 .team__black {
                    opacity: 1;
                    transform: translateX(-100%);
                }
                
                .team__item2 {
                    overflow: hidden;
                }
                
                .team__item3 team__black {
                    opacity: 1;
                    transform: rotate(0deg);
                }
                
                .team__item4 .team__black {
                    opacity: 1;
                    transform: scale(0);
                }
                /* Đã rê chuột */
                
                .team__item:hover .team__black {
                    opacity: 1;
                    transition: all .5s;
                }
                
                .team__item:hover .team__pink {
                    opacity: 0;
                }
                
                .team__item2:hover .team__black {
                    transform: translateX(0);
                }
                
                .team__item3:hover .team__black {
                    transform: rotate(360deg);
                }
                
                .team__item4:hover .team__black {
                    transform: scale(1);
                }
                /* FEEDBACK */
                /* .feedback {
                    background-image: url(../images/cc1.jpg);
                    height: 700px;
                    background: no-repeat;
                } */
                
                .feedback__content {
                    width: 70%;
                    margin: auto;
                    padding: 30px;
                    text-align: center;
                    border: 2px solid #FF0E83;
                }