* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    /* tự quy định: 1rem = 20px (nếu không khai báo thì 1rem = 16px*/
    font-size: 20px;
}


/* HEADER */

header {
    background-color: #474747;
    padding: .5rem 0;
    width: 100%;
}

.header__content span {
    color: #00CDCE;
}

.header__content ul li {
    list-style: none;
    display: inline;
    padding: 0 .5rem;
    color: white;
    font-size: .8rem;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    padding-left: 1rem;
    color: white;
    font-size: 1.1rem;
}

.header__right {
    padding-right: 1rem;
}


/* CAROSEL */

.carosel {
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    margin: auto;
}

.carosel__content {
    position: relative;
}

.carosel__content .text {
    position: absolute;
}