* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    /* tự quy định: 1rem = 20px (nếu không khai báo thì 1rem = 16px*/
    font-size: 20px;
}

header {
    background: rgb(25, 25, 25, 0.8);
    /* position: fixed; */
    position: fixed;
    width: 100%;
    z-index: 10;
}

header li {
    display: inline;
    padding: 1rem;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 0.8rem;
    letter-spacing: 1px;
}


/* HEADER > LOGO  */

.logo__text {
    text-decoration: none;
    color: white;
    display: flex;
    font-size: 2.7rem;
    letter-spacing: 2px;
}

.logo__text span {
    color: #00cdce;
}


/* HEADER > NAV BAR  */

nav a {
    padding: 8px 10px;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
}


/* HEADER > NAV BAR (HOVER) */

nav a:hover {
    color: #00cdce;
    border-bottom: 2px solid #00cece00;
    transition-property: all;
    transition-duration: 0.5s;
}


/* CAROSEL */

.carosel {
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    margin: auto;
}

.carosel__content {
    position: relative;
}

.carosel__content .text h1,
p {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
}


/* ABOUT */