* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

.ude-btnWhite {
  background-color: #fff;
  border: 1px solid #686f7a;
  border-radius: 2px;
  padding: 11px 12px;
  color: #686f7a;
  font-size: 15px;
  font-weight: 700;
  width: 78.2167px;
}

.ude-btnWhite:hover {
  background-color: #fff;
  border-color: #29303b;
  color: #29303b;
}

.ude-btnRed {
  background-color: #ec5252;
  border: 1px solid #ec5252;
  border-radius: 2px;
  padding: 11px 12px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.ude-btnRed:hover {
  background-color: #992337;
  border-color: #992337;
  color: #fff;
}

header {
  color: #505763;
  font-size: 13px;
  font-weight: normal;
}

.header__left {
  display: flex;
}

.header__left .navbar-brand img {
  width: 110px;
}

.header__left .header__categories {
  margin: 0 15px;
  align-self: center;
}

.header__left .header__form {
  flex-grow: 1;
  background-color: #f2f3f5;
  box-shadow: none;
  border: none;
}

.header__left .header__form .form-control,
.header__left .header__form .input-group-text {
  background-color: #f2f3f5;
  box-shadow: none;
  border: none;
  width: 44px;
  height: 44px;
}

.header__left .header__form .input-group-text.focused {
  background-color: white;
}

.header__left .header__form .form-control:focus {
  background-color: #fff;
  box-shadow: none;
  border: #dedfe0;
}

.header__left .header__form .input-group-append:hover .input-group-append,
.header__left .header__form .input-group-append:hover .input-group-text {
  background-color: #ec5252;
}

.header__left .header__form .input-group-append:hover .fa {
  color: #fff !important;
}

.header__right .navbar-nav {
  justify-content: flex-end;
}

.header__right .nav-link {
  color: #505763;
  font-size: 13px;
  font-weight: normal;
  padding-top: 1rem;
}

@media screen and (max-width: 1200px) {
  .header__right .business,
  .header__right .teach {
    display: none;
  }
  .header__right .ud-btnGroup {
    white-space: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .header__right .ud-btnGroup {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__left {
    justify-content: center;
  }
  .header__left .header__form,
  .header__left .header__categories {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  nav i.fa.fa-bars {
    padding-right: 20px;
  }
}

.udCarousel {
  background-image: url(../img/cover.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
}

.udCarousel .carousel__content {
  width: 450px;
  margin-left: 10%;
}

.udCarousel .carousel__content h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

.udCarousel .carousel__content p {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

.udCarousel .carousel__content .form-control,
.udCarousel .carousel__content .input-group-append,
.udCarousel .carousel__content .input-group,
.udCarousel .carousel__content .input-group-text {
  height: 50px;
}

.udCarousel .carousel__content .form-control,
.udCarousel .carousel__content .input-group-append,
.udCarousel .carousel__content .input-group,
.udCarousel .carousel__content .input-group-text {
  background-color: #fff;
  box-shadow: none;
  border: none;
}

.udCarousel .carousel__content .input-group-append:hover .input-group-text {
  background-color: #ec5252;
}

.udCarousel .carousel__content .input-group-append:hover {
  background-color: #ec5252;
}

.udCarousel .carousel__content .input-group-append:hover .fa {
  color: #ffffff !important;
}

.intro {
  background: linear-gradient(-45deg, #EC5252 0%, #6E1A52 100%);
  height: 80px;
}

.intro__content {
  text-align: left;
  margin-left: 15%;
  display: flex;
}

.intro__content :first-child {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}

.intro__content :last-child {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}

.intro__content .intro__sub-title {
  margin-top: 15px;
}

.course {
  padding: 100px 0;
  margin: 0 auto;
}

.course .course__left {
  background-color: #f7f8fa;
  position: relative;
}

.course .course__left .left__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.course .course__left .left__content h3 {
  color: #29303b;
  font-size: 19px;
  font-weight: 700;
}

.course .course__left .left__content p {
  color: #29303b;
  font-size: 16px;
  font-weight: normal;
}

.course .course__right .course__contentright .course__tab {
  border-bottom: 2px solid #cacbcc;
  margin-bottom: 8px;
}

.course .course__right .course__contentright .course__tab .nav-pills .nav-link.active,
.course .course__right .course__contentright .course__tab .nav-pills .show > .nav-link {
  border-radius: 0;
  border-bottom: 5px solid #007791;
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
  background-color: transparent;
}

.course .course__right .course__contentright .course__tab .nav-link {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
  color: #29303b;
  transition: all 0.5s;
}

.course .course__right .course__contentright .course__tab .nav-item:hover .nav-link {
  color: #007791;
}

.course .course__right .course__contentright .course__big {
  display: flex;
  transition: all 0.5s;
}

.course .course__right .course__contentright .course__big .course__item {
  margin-right: 20px;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1);
}

.course .course__right .course__contentright .course__big .course__photo {
  position: relative;
}

.course .course__right .course__contentright .course__big .course__photo img {
  width: 100%;
  height: auto;
}

.course .course__right .course__contentright .course__big .course__photo .course__badge {
  position: absolute;
  top: 20%;
  left: 0;
  background-color: orange;
  height: 20px;
  width: 80px;
  border: 1px solid orange;
  border-radius: 0 10px 10px 0;
}

.course .course__right .course__contentright .course__big .course__photo .course__badge p {
  line-height: 20px;
  padding-left: 4px;
  color: #29303b;
  font-size: 10px;
  font-weight: bold;
}

.course .course__right .course__contentright .course__big .course__detail {
  padding: 12px;
}

.course .course__right .course__contentright .course__big .course__detail h3 {
  color: #29303b;
  font-size: 15px;
  font-weight: bold;
}

.course .course__right .course__contentright .course__big .course__detail p.sub-title {
  color: #686f7a;
  font-size: 12px;
  font-weight: 600;
}

.course .course__right .course__contentright .course__big .course__detail p.rating-star {
  white-space: nowrap;
}

.course .course__right .course__contentright .course__big .course__detail p.rating-star i {
  color: #f4c150;
  font-size: 13px;
  font-weight: 700;
  margin-right: -1px;
}

.course .course__right .course__contentright .course__big .course__detail p.rating-star .rating-point {
  font-weight: 700;
  margin-left: 4px;
}

.course .course__right .course__contentright .course__big .course__detail p.rating-star span:last-child {
  color: #686f7a;
  font-size: 13px;
  font-weight: 600;
}

.course .course__right .course__contentright .course__big .course__detail .course__price {
  display: flex;
  flex-direction: row-reverse;
}

.course .course__right .course__contentright .course__big .course__detail .course__price p:first-child {
  color: #29303b;
  font-size: 20px;
  font-weight: 700;
}

.course .course__right .course__contentright .course__big .course__detail .course__price p:last-child {
  text-decoration: line-through;
  color: #505763;
  font-size: 13px;
  font-weight: normal;
  margin-right: 12px;
}

.course .course__right .course__contentright .course__big:hover {
  box-shadow: 0 2px 10px rgba(20, 23, 28, 0.2);
}

.course .course__right .course__contentright .course__big:hover .course__photo {
  background-color: black;
}

.course .course__right .course__contentright .course__big:hover .course__photo img {
  opacity: 0.7;
}

@media screen and (max-width: 1440px) {
  .course .course__right .course__item {
    max-width: 100%;
  }
  .course .course__right .last_course {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .course .course__right .course__item {
    max-width: 100%;
  }
  .course .course__right .last_course {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .course {
    padding: 50px;
  }
  .course .course__left {
    display: none;
  }
  .course .course__right {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .course .course__right {
    margin: 0 auto;
  }
  .course .course__right .next_course {
    display: none;
  }
}

.services .row {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 13%;
  padding-right: 13%;
}

.services .row h4 {
  color: #29303b;
  font-size: 20px;
  font-weight: 600;
}

.services .row p {
  color: #a1a7b3;
  font-size: 15px;
  font-weight: normal;
}

.services .row .services__small {
  background-color: white;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 1px solid #dedfe0;
}

.students {
  margin: 0 auto;
  padding-top: 20px;
}

.students p {
  color: #686f7a;
  font-size: 20px;
  font-weight: 400;
}

.students .course__big {
  display: flex;
  transition: all 0.5s;
}

.students .course__big .course__item {
  margin-right: 20px;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1);
}

.students .course__big .course__photo {
  position: relative;
}

.students .course__big .course__photo img {
  width: 100%;
  height: auto;
}

.students .course__big .course__photo .course__badge {
  position: absolute;
  top: 20%;
  left: 0;
  background-color: orange;
  height: 20px;
  width: 80px;
  border: 1px solid orange;
  border-radius: 0 10px 10px 0;
}

.students .course__big .course__photo .course__badge p {
  line-height: 20px;
  padding-left: 4px;
  color: #29303b;
  font-size: 10px;
  font-weight: bold;
}

.students .course__big .course__detail {
  padding: 12px;
}

.students .course__big .course__detail h3 {
  color: #29303b;
  font-size: 15px;
  font-weight: bold;
}

.students .course__big .course__detail p.sub-title {
  color: #686f7a;
  font-size: 12px;
  font-weight: 600;
}

.students .course__big .course__detail p.rating-star {
  white-space: nowrap;
}

.students .course__big .course__detail p.rating-star i {
  color: #f4c150;
  font-size: 13px;
  font-weight: 700;
  margin-right: -1px;
}

.students .course__big .course__detail p.rating-star .rating-point {
  font-weight: 700;
  margin-left: 4px;
}

.students .course__big .course__detail p.rating-star span:last-child {
  color: #686f7a;
  font-size: 13px;
  font-weight: 600;
}

.students .course__big .course__detail .course__price {
  display: flex;
  flex-direction: row-reverse;
}

.students .course__big .course__detail .course__price p:first-child {
  color: #29303b;
  font-size: 20px;
  font-weight: 700;
}

.students .course__big .course__detail .course__price p:last-child {
  text-decoration: line-through;
  color: #505763;
  font-size: 13px;
  font-weight: normal;
  margin-right: 12px;
}

.students .course__big:hover {
  box-shadow: 0 2px 10px rgba(20, 23, 28, 0.2);
}

.students .course__big:hover .course__photo {
  background-color: black;
}

.students .course__big:hover .course__photo img {
  opacity: 0.7;
}

.banner {
  background-color: #29303b;
  height: 360px;
}

.banner .banner__border {
  background: linear-gradient(-45deg, #ec5252 0%, #6e1a52 100%);
  height: 8px;
}

.banner .banner__content {
  justify-content: center;
  text-align: center;
  padding: 8rem 0;
}

.banner .banner__content .content__h {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 1rem;
}

.banner .banner__content .content__p {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  padding-bottom: 1rem;
}

.banner .banner__content button {
  background-color: #ec5252;
  border: 1px solid #521822;
  border-radius: 2px;
  padding: 10px 20px;
  color: #fff;
}

.banner .banner__content button:hover {
  background-color: #521822;
  border-color: #521822;
  color: #fff;
}

.topCategories {
  margin: 70px 0;
}

.topCategories h3 {
  color: #29303b;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.topCategories .caterogie__content .categorie__item {
  background-color: white;
  border: 1px solid rgba(20, 23, 28, 0.1);
  border-bottom: 2px solid rgba(20, 23, 28, 0.1);
  border-radius: 2px;
  transition: all .5s;
  padding: 8px;
  align-items: center;
}

.topCategories .caterogie__content .categorie__item:hover {
  cursor: pointer;
  box-shadow: 0 0 6px 2px rgba(20, 23, 28, 0.1);
}

.topCategories .caterogie__content .categorie__item img {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.topCategories .caterogie__content .categorie__item p {
  color: #29303b;
  font-size: 13px;
  font-weight: 100;
  height: 48px;
  line-height: 48px;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .topCategories .caterogie__content {
    padding: 10px;
    max-width: 100%;
    justify-content: flex-start;
    margin: 0 auto;
  }
  .topCategories .caterogie__content .categorie__item {
    max-width: 30%;
    margin: 4px;
  }
}

@media screen and (max-width: 992px) {
  .topCategories .caterogie__content {
    max-width: 100%;
    justify-content: flex-start;
    margin: 0 auto;
  }
  .topCategories .caterogie__content .categorie__item {
    max-width: 48%;
    margin: 4px;
  }
}

@media screen and (max-width: 768px) {
  .topCategories .caterogie__content {
    max-width: 100%;
    justify-content: flex-start;
    margin: 0 auto;
  }
  .topCategories .caterogie__content .categorie__item {
    max-width: 45%;
    margin: 4px;
  }
}

.reviews {
  background-color: #f7f8fa;
  padding: 70px 20px;
}

.reviews h3 {
  color: #29303b;
  font-size: 20px;
  font-weight: 700;
}

.reviews .reviews__content {
  justify-content: space-between;
}

.reviews .reviews__content .reviews__item {
  background-color: #fff;
  padding: 30px 30px;
  box-shadow: 0 0 2px 1px rgba(20, 23, 28, 0.1);
}

.reviews .reviews__content .reviews__item .review__avatar {
  display: flex;
}

.reviews .reviews__content .reviews__item .review__avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 8px;
}

.reviews .reviews__content .reviews__item .review__avatar p {
  color: #29303b;
  font-size: 15px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
}

.reviews .reviews__content .reviews__item .review__text {
  padding: 8px;
}

.company {
  padding: 10px 0;
  margin: auto;
  text-align: center;
  border-bottom: 1px solid #a1a7b3;
}

.company p {
  color: #505763;
  font-size: 15px;
  font-weight: 100;
  margin: 30px 0;
}

.company .company__list {
  align-content: center;
  margin: 0 auto;
  width: 70%;
  height: 40px;
  justify-content: center;
}

.company .company__list img {
  margin: 0 10px;
}

.company .company__else {
  display: flex;
  margin: 20px auto;
  padding: 50px auto;
  align-items: center;
}

.company .company__else .become_tutor {
  padding: 30px 80px;
  border-right: 1px solid #a1a7b3;
}

.company .company__else .become_tutor h4 {
  color: #686f7a;
  font-size: 20px;
  font-weight: bold;
}

.company .company__else .become_tutor p {
  color: #505763;
  font-size: 13px;
  font-weight: 100;
}

.company .company__else .become_tutor button {
  margin: 8px;
  padding: 10px 12px;
}

.company .company__else .udBusiness {
  padding: 30px 80px;
}

.company .company__else .udBusiness h4 {
  color: #686f7a;
  font-size: 20px;
  font-weight: bold;
}

.company .company__else .udBusiness p {
  color: #505763;
  font-size: 13px;
  font-weight: 100;
}

.company .company__else .udBusiness button {
  margin: 8px;
  padding: 10px 12px;
}

footer .footer__first {
  padding: 20px 0;
  margin: auto;
  border-bottom: 1px solid #a1a7b3;
}

footer .footer__first .footer__menu li {
  list-style: none;
  margin-bottom: 8px;
}

footer .footer__first .footer__menu li a {
  text-decoration: none;
  color: #007791;
  font-size: 15px;
  font-weight: normal;
}

footer .footer__first .footer__menu li a:hover {
  color: #686f7a;
}

footer .footer__first .footer__menu .dropup button#dropup__language {
  border: 2px solid #29303b;
  background-color: #fff;
  border: 1px solid #29303b;
  border-radius: 2px;
  padding: 10px 20px;
}

footer .footer__first .footer__menu .dropup button#dropup__language:focus {
  box-shadow: none;
  border: none;
}

footer .footer__last {
  align-items: center;
}

footer .footer__last .last__left {
  display: flex;
}

footer .footer__last .last__left img {
  width: 30%;
  margin-right: 20px;
}

footer .footer__last .last__left p {
  margin-top: 10px;
  height: 100px;
  line-height: 100px;
  color: #686f7a;
  font-size: 13px;
  font-weight: 100;
}

footer .footer__last .last__right {
  padding: 40px 0;
  display: flexbox;
}

footer .footer__last .last__right ul > li {
  list-style: none;
  margin-right: 12px;
}

footer .footer__last .last__right ul > li a {
  color: #007791;
  font-size: 13px;
}
/*# sourceMappingURL=main.css.map */