.banner {
  background-color: $color-black;
  height: 360px;

  .banner__content {
    justify-content: center;
    text-align: center;
    padding: 8rem 0;

    .content__h {
      @include styleText($color-white-0, $fs-3, $fw-bold-1);
      padding-bottom: 1rem;
    }

    .content__p {
      @include styleText($color-white-0, $fs-0, $fw-normal);
      padding-bottom: 1rem;
    }
  }
}
