header {
    @include styleText($color-black-light, $fs-1, $fw-normal);
}

.header__left {
    display: flex;
    .navbar-brand {
        img {
            width: 110px;
        }
    }
    .header__categories {
        margin: 0 15px;
        align-self: center;
    }
    .header__form {
        // flex-grow: tăng kích thước cho các con của flex
        flex-grow: 1;
        // Set style mặc định cho thanh search box & icon search
        @include box($color-white-cream,$bshadow-none,$border-none);
        .form-control, .input-group-text{
            @include box($color-white-cream,$bshadow-none,$border-none);
            width: 44px;
            height: 44px;
        }
        .form-control:focus  {
            @include box($color-white-0,$bshadow-none,$border-gray-1)
        }

        // .form-control:focus .input-group-text{
        //     @include box($color-white-0,$bshadow-none,$border-gray-1)
        // }
    }
}

.header__right {
    .nav-link {
        @include styleText($color-black-light, $fs-1, $fw-normal);
        padding-top: 1rem;
    }
}

// responsive: để cuối cùng
.header__right {
    // phạm vi nhỏ hơn 1200px
    @include responsive("extra-large") {
        .business,
        .teach {
            display: none;
        }
    }

    // phạm vi nhỏ hơn 768px
    @include responsive("medium") {
        .ud-btnGroup {
            display: none;
            white-space: nowrap;
        }
    }
}

.header__left {
    // phạm vi nhỏ hơn 768px
    @include responsive("medium") {
        justify-content: center;
        .header__form,
        .header__categories {
            display: none;
        }
    }
}
