/* HEADER */

.header .header__logo {
    background-position: left top;
    background-repeat: no-repeat;
}

.header .header__slogan {
    background-position: right top;
    background-repeat: no-repeat;
}

.header ul {
    list-style: none;
}

.header ul li a {
    margin: 20px;
    font-size: 15px;
    text-decoration: none;
}

.header ul li {
    display: inline;
}

.header img {
    background-repeat: no-repeat;
    background-size: cover;
}


/* CAROSEL */

.carousel {
    background-image: url(../images/slider_1.png);
    /* height: 400px; */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}